@font-face {
  font-family: 'Lindsay Becker', 'lindsay-becker';
  src: url(/assets/fonts/lindsay-becker.eot);
  src: url(/assets/fonts/lindsay-becker.ttf) format('ttf');
  src: url(/assets/fonts/lindsay-becker.eot?#iefix) format('embedded-opentype'),
       url(/assets/fonts/lindsay-becker.otf) format('otf'),
       url(/assets/fonts/lindsay-becker.svg#lindsay-becker) format('svg'),
       url(/assets/fonts/lindsay-becker.woff) format('woff'),
       url(/assets/fonts/lindsay-becker.woff2) format('woff2');
}
